---
layout: page
---
{%- assign _posts = site.posts | sort: 'date' | reverse -%}

{% assign first_post = _posts | first %}
{%- if first_post -%}
<!-- Posts List -->
{%- for _post in _posts -%}
	<a href="{{- _post.url | absolute_url -}}">
		<div class="post-preview">
			<div class="post-header">
				<span class="title">{{ _post.title }}</span>
				by <span class="author"></span>{{ _post.author }}</span>
				on <span class="date"></span>{{ _post.date | date_to_long_string }}</span>
			</div>
			<p>{{- _post.excerpt | strip_html | truncatewords: 100 -}}</p>
		</div>
	</a>
{%- endfor -%}
{% else %}
	<p>Coming soon!</p>
{% endif %}
