---
layout: page
---
{%- assign _projects = site.projects | sort: 'order' -%}
{{- content -}}

{% assign first_project = _projects | first %}

{%- if first_project -%}
<div class="projects-area">
	{%- for _project in _projects -%}
		<div class="project-thumbnail">
			<div class="project-preview"></div>
			<span class="project-title">{{ _project.title }}</span>
		</div>
		<div class="project-pane">
			{%- include project.html content=_project.content -%}
		</div>
	{%- endfor -%}
</div>
{%- else -%}
<p>
	More to come on this page soon!
	{% if site.github_url %}
		In the mean time, check out my <strong><a href="{{- site.github_url -}}">GitHub <i class="fab fa-github"></i></a></strong>
	{% endif %}
</p>
{%- endif -%}
